<!-- nav_page.html -->
<div id='navcontent'>

    <h3>subject</h3>

    <p>{{ page.metadata.subject }}</p>


    <h3>description</h3>

    <p>{{ page.metadata.description }}</p>


    <h3>parent</h3>

    <ol>

        <li><a href='{{ page.parent.0 }}'>{{ page.parent.1 }}</a></li>


    </ol>

    <h3>siblings</h3>

        <ol>
{% for item in page.siblings %}
{% if item.0 %}
            <li><a href='{{ item.0 }}'>{{ item.1 }}</a></li>
{% else %}
            <li>{{ item.1 }}</li>
{% endif %}
{% endfor %}
        </ol>

        <h3>children</h3>

        <ol id='children'>
{% for child in page.children %}
            <li><a href='{{ child.0 }}'>{{ child.1 }}</a></li>
{% endfor %}
        </ol>

</div>
<!-- end nav_page.html -->
