{% extends 'framework.html' %}{% block main %}{% load staticfiles %} 

<div id='pagecontent'>

  <ol>
  {% for page in page.paired.pages %}
  <li><a href='{{ page.0 }}'>{{page.0 }}</a></li>
  {% endfor %}
  </ol>

  
  {{ page.content|safe }}

</div><!-- Close pagecontent -->




{% if page.children %}
<div id='contents'>

    <h2>Contents</h2>

    <ol>
{% for child in page.children %}
        <li><a href='{{ child.0 }}'>{{ child.1 }}</a></li>
{% endfor %}
    </ol>
{% endif %}    
</div><!-- Close children -->
{% endblock %}


