@import url('/static/css/screen.css');

body {
    margin: 1cm 1.5cm 2cm 2cm;
    padding: 0cm 0 1cm 0;
    margin: 0;
    font-size: 10pt;
}

h1, h2, h3 {
    page-break-after: avoid;
}

p, table {
    page-break-inside: avoid;
    max-width: 100%;
}


table {
    max-width: 16cm;
}    

#header, #navigation {
    display: none;
}
#main {
    width: 100%;
    margin: 0;
    padding: 0;
}
#pagecontent {
    margin: 0;
    padding: 0;
}

.noprint {
    background: yellow;
    display: none;
}