@import url('/static/css/screen.css');

@page {
    size: A4 landscape;
    margin: 2cm;
    margin-left: 4cm;
    margin-top: 3cm;
}
html {

}
body {
    font-size: 10pt;
    font-family: serif;
}

h1, h2, h3 {
    page-break-after: avoid;
}
h1 {
    font-weight: normal;
    font-size: 24pt;
}

p, table {
    page-break-inside: avoid;
    max-width: 100%;
}
blockquote {
    font-family: sans-serif;
}

pre {
    font-size: 8pt;
}

table {
    max-width: 16cm;
}    

#header, #navigation, #contentse {
    display: none;
}
#main {
    width: 100%;
    margin: 0;
    padding: 0;
}
#pagecontent {
    margin: 0;
    padding: 0;
}

.noprint {
    background: yellow;
    display: none;
}