@import url('/static/css/screen.css');

page {
    margin: 1cm 1.5cm 2cm 2cm;
    padding: 2cm 0 1cm 0;
}

h1, h2, h3 {
    page-break-after: avoid;
}

p, table {
    page-break-inside: avoid;
}

table {
    max-width: 16cm;
}    

#header, #navigation {
    display: none;
}
#main {
    width: 100%;
    margin: 0;
    padding: 0;
}