<!-- close webnote/metadataTable.html -->
<table id='pageMetadata'>
    <tr>
	<th>title</th>
	<td>{{ page.metadata.title }}</td>
    </tr>
    <tr>
	<th>author(s)</th>
	<td>{{ page.metadata.author }}</td>
    </tr>
    <tr>
	<th>date</th>
	<td>{{ page.metadata.date }}</td>
    </tr>
    <tr>
	<th>subject</th>
	<td>{{ page.metadata.subject }}</td>
    </tr>
    <tr>
      <th>description</th>
      
	<td>{{ page.metadata.description }}</td>
    </tr>
    <tr>
	<th>contributors</th>
	<td>{{ page.metadata.contributor }}</td>
    </tr>
    <tr>
	<th>location</th>
	<td>{{ page.metadata.location }}</td>
    </tr>
    <tr>
	<th>rights</th>
	<td>{{ page.metadata.rights }}</td>
    </tr>
    <tr>
	<th>source</th>
	<td>{{ page.metadata.source }}</td>
    </tr>
    <tr>
	<th>filename</th>
	<td><tt>{{ page.filename }}</tt></td>
    </tr>
    <tr>
        <td colspan='2'>This meta file at <tt>{{ page.metadata.metafilename }}</tt></td>
    </tr>
</table>
<!-- close webnote/metadataTable.html -->
